In [13]:
import pandas as pd
import numpy as np

In [4]:
data_entry = pd.read_excel('data.xlsx')

data_entry.columns = ['manager','name','date','month']

unique_name_len = []
for i in range(1,13):
    month_data = data_entry[data_entry.month==i]
    unique_name_len.append(len(list(set(month_data.name))))

result = pd.DataFrame([range(1,13),unique_name_len])

In [16]:
result

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  11  12
1  30  31  29  26  33  34  28  33  33  35  30  32

We could thus see that the month that have the most unique clients is October.